## Importing all the libraries and our RandomForestClassifier Class

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

# importing self made random classifier class
from random_forest import RandomForestClassifier
from sklearn.metrics import accuracy_score

### Predicting the iris dataset

In [2]:
iris=pd.read_csv('iris.csv')

In [3]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
X=iris.drop(columns=['Id','Species'])
y=iris['Species']

In [5]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

#### Creating an object of our class

In [6]:
rd=RandomForestClassifier()

In [7]:
rd.fit(X_train,y_train)

In [8]:
y_pred=rd.predict(X_test)

In [9]:
accuracy_score(y_pred,y_test)

0.9111111111111111

### Predicting another dataset to check how our Model works on that

In [10]:
dataset=pd.read_csv('dataset.csv')

In [11]:
dataset

      Marks_1    Marks_2  Result
0   34.623660  78.024693       0
1   30.286711  43.894998       0
2   35.847409  72.902198       0
3   60.182599  86.308552       1
4   79.032736  75.344376       1
..        ...        ...     ...
95  83.489163  48.380286       1
96  42.261701  87.103851       1
97  99.315009  68.775409       1
98  55.340018  64.931938       1
99  74.775893  89.529813       1

[100 rows x 3 columns]

In [12]:
X=dataset.drop(columns='Result')
y=dataset['Result']

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2
                                              )

In [14]:
rd1=RandomForestClassifier(n_estimators=200,sample_size=0.8)

In [15]:
rd1.fit(X_train,y_train)

In [16]:
y_pred=rd1.predict(X_test)

In [17]:
accuracy_score(y_pred,y_test)

0.9