# Pandas Assingment-3

(Based on IPL matches and deliveries dataset)


<a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


<a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
from google.colab import files
uploaded=files.upload()

Saving deliveries.csv to deliveries.csv
Saving matches.csv to matches.csv

In [0]:
import pandas as pd

In [0]:
matches=pd.read_csv('matches (1).csv')
deliveries=pd.read_csv('deliveries(1).csv')

In [0]:
matches.head(2)

   id  season       city  ...         umpire1   umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar  NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore    S Ravi     NaN

[2 rows x 18 columns]

In [0]:
deliveries.head(2)

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN

[2 rows x 21 columns]

## Q1. Find out a City which has hosted most no. of IPL openers i.e first match of a season.

In [0]:
opening_matches=matches.drop_duplicates(subset=['season'])  # Filtering only the opening matches of each IPL seasons

opening_matches['city'].value_counts().head(1).index[0]    # Getting the cities, counting the number of times it is appearing and extracting the first city

'Mumbai'

## Q2. Find out top-3 batsman who has scored most runs against Malinga.

In [0]:
malinga=deliveries[deliveries['bowler']=='SL Malinga']    # Filtering the balls bowled by Malinga only
batsman_runs=malinga.groupby('batsman').sum()['batsman_runs']   # Grouping the batsmen together and adding the batsman_runs of each of them
print(batsman_runs.sort_values(ascending=False).head(3).index.values)   # Sorting the batsmen in descending order of their scores against Malinga and extracting the indices

['SR Watson' 'AB de Villiers' 'MS Dhoni']

## Q3. Make a function to find top bowler(in terms of most wickets) against any team. Take input as team.

In [0]:
def top_bowler():
  # Filtering the Dismissal Kind to only those rows where a wicket was alloted to a bowler
  bowler_wickets_mask=(deliveries['dismissal_kind']=='caught') | \
                          (deliveries['dismissal_kind']=='bowled') | \
                          (deliveries['dismissal_kind']=='lbw') | \
                          (deliveries['dismissal_kind']=='caught and bowled') | \
                          (deliveries['dismissal_kind']=='stumped')
  wickets=deliveries[bowler_wickets_mask].groupby('bowler').count()['batting_team']    # Counting the number of wickets taken by each bowler against all the teams
  return wickets.sort_values(ascending=False).head(1).index[0]        # Finding the top bowler and extracting his name

In [0]:
top_bowler()

'SL Malinga'

## Q4. Write a function which will take team name as input and return it's record of no. occurance in finals and no. of times won.  [Difficult]

ex.-- if team is CSK-- 
CSK in finals-

Played- 8
Won- 3

If any team which has not played in finals like Gujrat Lions

Gujrat Lions in finals-

Played-0

In [0]:
def team_in_finals(team):
  try:
    mask=(matches['team1']==team) | (matches['team2']==team)            # The team can be in either team1 or team2.
    final_match=matches.drop_duplicates(subset=['season'],keep='last')   # Final the final matches of each season
    team_final=final_match[mask]                                        #  Applying a filter to extract the matches played by the team
    won=team_final['winner'].value_counts()[team]                       # Getting the count: how many times the team won IPL
    return "{} in finals-  Played-{} Won-{}".format(team,team_final.shape[0],won)    # Generating output text
  except:
    return "{} in finals-  Played-{} ".format(team,0)                    # If team not in final_matches, it throws error. Except handles the error and generated the required output text

In [0]:
team_in_finals('Chennai Super Kings')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

'Chennai Super Kings in finals-  Played-8 Won-3'

In [0]:
team_in_finals('Kolkata Knight Riders')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

'Kolkata Knight Riders in finals-  Played-2 Won-2'

In [0]:
team_in_finals('Gujrat Lions')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

'Gujrat Lions in finals-  Played-0 '

## Q5. Write a function which will take a input as batsman and in output it gives total runs scored against each team. [Medium]

In [0]:
def batsman_against_team(batsman):
  batsman_filter=deliveries[deliveries['batsman']==batsman]       # Filtering the data based on the batsman required
  runs_against_teams=batsman_filter.groupby('bowling_team').sum()['batsman_runs']   # Calculating the runs scores by the batsman against each team
  return runs_against_teams.sort_values(ascending=False)     # Returning the sorted scores of the required batsman

In [0]:
batsman_against_team('V Kohli')

bowling_team
Delhi Daredevils           763
Chennai Super Kings        749
Kolkata Knight Riders      675
Kings XI Punjab            636
Mumbai Indians             628
Sunrisers Hyderabad        509
Rajasthan Royals           370
Deccan Chargers            306
Gujarat Lions              283
Rising Pune Supergiants    188
Pune Warriors              128
Rising Pune Supergiant      83
Delhi Capitals              66
Kochi Tuskers Kerala        50
Name: batsman_runs, dtype: int64

In [0]:
batsman_against_team('G Gambhir')

bowling_team
Kings XI Punjab                735
Royal Challengers Bangalore    648
Mumbai Indians                 467
Chennai Super Kings            429
Rajasthan Royals               423
Delhi Daredevils               413
Sunrisers Hyderabad            324
Deccan Chargers                225
Pune Warriors                  182
Kolkata Knight Riders          155
Gujarat Lions                  122
Rising Pune Supergiant          86
Rising Pune Supergiants         11
Kochi Tuskers Kerala             3
Name: batsman_runs, dtype: int64

In [0]:
batsman_against_team('MS Dhoni')

bowling_team
Royal Challengers Bangalore    808
Mumbai Indians                 669
Kings XI Punjab                601
Delhi Daredevils               488
Kolkata Knight Riders          474
Rajasthan Royals               428
Sunrisers Hyderabad            398
Deccan Chargers                281
Pune Warriors                  135
Delhi Capitals                  89
Gujarat Lions                   83
Kochi Tuskers Kerala            23
Name: batsman_runs, dtype: int64

In [0]:
batsman_against_team('AB de Villiers')

bowling_team
Kings XI Punjab                685
Mumbai Indians                 660
Rajasthan Royals               582
Chennai Super Kings            479
Delhi Daredevils               411
Sunrisers Hyderabad            392
Kolkata Knight Riders          364
Gujarat Lions                  233
Deccan Chargers                153
Pune Warriors                  149
Royal Challengers Bangalore    115
Rising Pune Supergiants         84
Kochi Tuskers Kerala            54
Delhi Capitals                  35
Rising Pune Supergiant          32
Name: batsman_runs, dtype: int64

# Q6- Make a function taking team as input-- and best bowler against that team...

In [0]:
bowler_wickets_mask=(deliveries['dismissal_kind']=='caught') | \
                          (deliveries['dismissal_kind']=='bowled') | \
                          (deliveries['dismissal_kind']=='lbw') | \
                          (deliveries['dismissal_kind']=='caught and bowled') | \
                          (deliveries['dismissal_kind']=='stumped')
wickets=deliveries[bowler_wickets_mask]
batting_team='Chennai Super Kings'

wickets[wickets['batting_team']==batting_team].groupby('bowler').count()['ball'].sort_values(ascending=False).head(1).index[0]

'SL Malinga'

In [0]:
def best_bowler_against_team(batting_team):
  bowler_wickets_mask=(deliveries['dismissal_kind']=='caught') | \
                          (deliveries['dismissal_kind']=='bowled') | \
                          (deliveries['dismissal_kind']=='lbw') | \
                          (deliveries['dismissal_kind']=='caught and bowled') | \
                          (deliveries['dismissal_kind']=='stumped')
  wickets=deliveries[bowler_wickets_mask]
  return wickets[wickets['batting_team']==batting_team].groupby('bowler').count()['ball'].sort_values(ascending=False).head(1).index[0]

In [0]:
best_bowler_against_team('Chennai Super Kings')

'SL Malinga'

In [0]:
best_bowler_against_team('Kolkata Knight Riders')

'B Kumar'

In [0]:
best_bowler_against_team('Royal Challengers Bangalore')

'A Nehra'

In [0]:
best_bowler_against_team('Mumbai Indians')

'DJ Bravo'